/* Shared with Google */
body {
    font-family: 'Lato', sans-serif;

}

/* header section style */

.header {
    background-color: #E554731A;
    margin: auto;
    background-size: auto, contain;

}

.pic-head {
    width: 635px;
    height: 900px;

}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    margin-top: auto;
    padding: auto;
}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
}

.btn {
    border-color: #FFF;
    border-radius: 8px;
    background: #E55473;
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.pic-png {
    width: 400px;
    height: 600px;
    margin-left: 100px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main part section01 */
.featured {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

.section-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

/* main section02 */

.bg-img {
    margin-top: 80px;
}


.img-container {

    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 10px;

}

.img-title {
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
}

.img01 {
    width: 200px;
    height: 300px;
    margin: auto;
    padding: auto;
    border-radius: 300px 300px 0px 0px;
    background: #a7216226;
    /* margin-top: 10px; */

}


.img02 {
    width: 200px;
    height: 300px;
    margin: auto;
    padding: auto;
    border-radius: 300px 400px 0px 0px;
    background: #0597a026;
    /* margin-top: 20px; */

}

.img03 {
    width: 200px;
    height: 300px;
    margin: auto;
    padding: auto;
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
    /* margin-top: 10px; */

}


.service {
    color: #272727cc;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: #2727270d;
    margin: 120px;
    padding: 5%;
}

.hot-deals {
    margin: auto;
    border-radius: 8px;
    background: #e554730d;
    display: flex;
    justify-content: space-around;
}

.hot-title {
    padding-top: 150px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.hot-description {

    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.btn-02 {
    align-content: center;
    border-color: #FFF;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.insta-header {
    padding-top: 150px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-description {
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}

.img-reset {
    padding-top: 50px;
    width: 342px;
    height: 396px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-left: 30px;

}

.get-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}

.get-description {
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}

/* .last-sec{ */
/* background-image: url(''); */
/* } */

.last-sec {
    background-image: url("../flower-asset/rectangle9.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: auto;
}

.get-container {
    display: flex;
    justify-content: center;


}

.input {
    border: 0px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    margin-left: 200px;
    margin-right: 10px;
    width: 600px;
    height: 50px;
    
}

.button {
   margin-right: 300px;
    border-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

#heading {
    color: #E55473;
}

#shop {
    color: #FFF;
}

.container {
    background-color: black;
    height: 449px;
    margin-top: 150px;

}

.heading-title {
    padding-top: 10%;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.footer-p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.last-line {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}